:root {
    --primary-color: #003d77;
    --primary-color-light: #1561a8;
    --primary-color-hover: #003566;
    --secondary-color: #8dc63f;
    --secondary-color-light: #a0df49;
    --secondary-color-hover: #7bad36;
}